.form__box {
  padding: 40px;
  width: 100%;
}

.form__title {
  margin-bottom: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form__container {
  position: relative;
  height: 58px;
  margin-bottom: 10px;
}

.form__container--comment {
  height: 138px;
  margin-bottom: 20px;
}

.form__name {
  margin-bottom: 4px;
  height: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover,
  &:focus.inform:focus::placeholder {
    cursor: pointer;
    border-color: #2196f3;
  }
  &:focus + .form__icon,
  &:hover + .form__icon {
    fill: #2196f3;
  }
}
.form__input--comment {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-top: 12px;
  height: 120px;
  resize: none;
}

.form__icon {
  position: absolute;
  left: 12px;
  bottom: 2px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.inform-chek {
  margin-right: 7px;
  -webkit-appearance: none;
  appearance: none;
  &:checked + .inform-chek__case {
    width: 16px;
    height: 15px;
    background-image: url(../images/check.svg);
  }
}

.inform-chek__box {
  display: flex;
  position: relative;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.inform-chek__case {
  position: absolute;
  left: 0px;
  width: 16px;
  height: 15px;
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
}

.license-icon {
  position: absolute;
  top: 4px;
  left: 12px;
}

.inform-chek__agreement {
  margin-left: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;
  color: #757575;
}

.inform-chek__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

.button__box {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
}
