.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.container__footer {
  /* display: flex; */
  align-items: baseline;
}
.adress-socials {
  justify-content: center;
}

.footer__box {
  text-align: center;
  justify-content: center;
}

.follow {
  margin-top: 60px;
  text-align: center;
  justify-content: center;
}

.follow__title,
.post__title {
  text-align: center;
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.post {
  margin-top: 60px;
  text-align: center;
  justify-content: center;
}

.post__email {
  width: 100%;
  height: 50px;
  background-color: #2f303a;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-family: Roboto;
  padding-left: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: none;

  &:focus,
  &:hover,
  &:focus.post__email:focus::placeholder {
    border-color: #2196f3;
  }
}
