.header {
  padding-bottom: 16px;
  padding-top: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
  & .container {
    display: flex;
    align-items: center;
  }
}

.header__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
}

.header__button {
  width: 40px;
  text-align: center;
  justify-content: center;
  background-color: #fff;
  border: none;
  &:hover .header__icon,
  &:focus .header__icon {
    fill: #2196f3;
  }
}

.header__icon {
  fill: #000000;
}
