.peculiarities {
  padding-top: 94px;
  padding-bottom: 94px;
}

.peculiarities__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.peculiarities__item {
  margin-right: 30px;
  width: 270px;
  &:last-child {
    margin-right: 0;
  }
}

.peculiarities__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.peculiarities__title {
  margin-bottom: 10px;
  margin-top: 30px;
  color: var(--secondary-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
