

.posters__list {  
 
  list-style: none;
  font-style: normal;
  &:visited {
    color: var(--secondary-text-color);
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.posters__item { 
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);
  }
  @media screen and (min-width: 1200px) {
    margin: 15px;
    width: calc((100% - 6 * 15px) / 3);
  }
  /* &:nth-child(3n + 3) {
    margin-right: 0;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  } */
}

.posters__case {
 width: 100%;
  position: relative;
}

.posters__link {
  text-decoration-line: none;
  &:hover .posters__box,
  &:focus .posters__box {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .back-form,
  &:focus .back-form {
    transform: translatey(0);
  }
  .posters__link:visited {
    color: #212121;
  }
}

.posters__box {
  width: 100%;

  box-shadow: none;
}

.posters__container {
  overflow: hidden;
  position: relative;
  
}

.posters__caption {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 20px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.posters__title {
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  &:visited {
    color: #212121;
  }
}

.posters__service {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.back-form {
  width: 100%;
  height: 294px;
  position: absolute;
  top: 0;
  transform: translatey(100%);
  transition: transform 300ms;
  padding-top: 63px;
  padding-bottom: 63px;
  background: rgba(33, 150, 243, 0.9);
}

.back-form__text {
  margin-right: 24px;
  margin-left: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.picture {
  width: 100%;
  
}