.service {
  padding-bottom: 94px;
  display: none;
}

.service__name {
  margin-bottom: 50px;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.service__list {
  display: flex;
  justify-content: space-between;
}
.service__item {
  position: relative;
}

.service__box {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
}

.service__text {
  margin-right: auto;
  margin-left: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 114%;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
