.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f5f4fa;
}

.team__name {
  margin-bottom: 30px;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team__list {
  /*   display: flex;
  justify-content: space-between; */
  text-align: center;
}

.team__item {
  padding-bottom: 30px;
  margin-bottom: 30px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__mate {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 119%;
}

.team__role {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}
