.socials__list {
  display: flex;

  align-items: center;
  justify-content: center;
  list-style: none;
}

.adress-socials {
  display: flex;
}
.socials__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  outline: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover .socials__icon,
  &:focus .socials__icon {
    fill: var(--white-color);
  }
  &:hover,
  &:focus {
    background-color: var(--accent-text-color);
  }
}

.socials__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link--grey {
  background: rgba(255, 255, 255, 0.1);
}

.socials__icon--white {
  fill: var(--white-color);
}
